In [6]:
a_l1 = ['a', 'e', 'i']
print(a_l1)

['a', 'e', 'i']

In [7]:
a_l1 += ['vet', 'dog']
print(a_l1)

['a', 'e', 'i', 'vet', 'dog']

In [ ]:
a_l += ['vet', 'dog']
def str_add():
    print(a_l)

str_add()

In [2]:
sorted({
    1: 'D', 2: 'B', 3: 'B', 4: 'K', 5: 'A'
})

# sorted

[1, 2, 3, 4, 5]

In [4]:
sorted("One flew over the".split(), key=str.lower)

['flew', 'One', 'over', 'the']

In [6]:
staffTuples = [
    ('hima', 'front', 30),
    ('adam', 'front', 10),
    ('hickory', 'side', 20),
]

sorted(staffTuples, key=lambda staff: staff[2])

[('adam', 'front', 10), ('hickory', 'side', 20), ('hima', 'front', 30)]

# Return a new list containing all items from the iterable in ascending order.

# list.sort() method is only for lists, sorted() function accepts any iterable

In [41]:
sorted([5, 2, 3, 1, 4])
a = [5,2,3,1,4]
a.sort()
a

[1, 2, 3, 4, 5]

In [42]:
import random
random.choice(a)

4

In [47]:
a += [22]
print(a)

[1, 2, 3, 4, 5, 2, 22]

In [7]:
import random as rd

for _ in range(10):
    x = rd.random()
    print(x)

0.9536657213040041
0.7947924245772817
0.7510375830602928
0.6481281202248985
0.3837310947689484
0.09095477411886999
0.5772112267521697
0.16913487117408244
0.5589828017713669
0.30768990956850295

In [13]:
a = rd.randint(22, 50)


b = [7,8,9,12,3]
b.sort(reverse=True)
b

[12, 9, 8, 7, 3]

In [18]:
# b.append([13,15])
# b.extend((18,19))
b.append((18,19))
b

[12, 9, 8, 7, 3, [13, 15], 18, 19, (18, 19)]

In [23]:
del(b[0])
b

[8, 7, 3, [13, 15], 18, 19, (18, 19)]

In [25]:
b.sort
b

[8, 7, 3, [13, 15], 18, 19, (18, 19)]

In [30]:
del(b[3][1])
b

[8, 7, 3, [13], 18, 19, (18, 19)]

In [37]:
aa =  b
aa

[8, 7, 3, [13], 18, 19, (18, 19)]

In [38]:
aa == b

True

In [48]:
aa

[8, 7, 3, [13], 18, 19, (18, 19)]

In [65]:
# sorted([aa], reverse=True)
del(aa[3])
# sorted(aa)
aa

[8, 7, 3, 18, 19, (18, 19)]

In [71]:
sorted(a, reverse=True)

[22, 5, 4, 3, 2, 2, 1]

In [74]:
a.sort()
a

[1, 2, 2, 3, 4, 5, 22]

In [72]:
len(a)

7

In [32]:
ha = 'Hima Balde\''
hha = "Hima Balde'"

print('''\
    Topic: Python
    height:"6 ' 3"
    height:6 \' 3
    version = 3.10
    Date: Oct. 06
''' + ha)

    Topic: Python
    height:"6 ' 3"
    height:6 ' 3
    version = 3.10
    Date: Oct. 06
Hima Balde'

True

In [35]:
if ha == hha:
    print('Statement is true')

Statement is true

In [8]:
h = 'hasn\'t'
hh = "hasn't"
h == hh

True

In [36]:
print(hha + ' ' + h + ' ' + hh)

Hima Balde' hasn't hasn't

In [18]:
def lstr():
    dataText = [{"word":"kentucky","score":129541},{"word":"pitt","score":64667}]
    lst = []

    # for i in data.text:
    for i in dataText:
        lst.insert(2, {"Hima":"kdkkd"})
        # lst.append({"word": "Hima", "score": 13235})

    print(lst)
    # print(dataText)
lstr()

[{'Hima': 'kdkkd'}, {'Hima': 'kdkkd'}]
[{'word': 'kentucky', 'score': 129541}, {'word': 'pitt', 'score': 64667}]

In [1]:
def lstr():
    dataText = [{"word":"kentucky","score":129541},{"word":"pitt","score":64667}]
    lst = []

    # for i in data.text:
    for i in dataText:
        # lst.insert(2, {"Hima":"kdkkd"})
        lst.append({"word": "Hima", "score": 13235})

    print(lst)
    # print(dataText)
lstr()

[{'word': 'Hima', 'score': 13235}, {'word': 'Hima', 'score': 13235}]

In [1]:
# Naming slices (slice(start, end, step))

## create list w/ int in a range

def makeLst(r1, r2):
    if (r1 == r2):
        return r1
    else:
        res = []

        while(r1 < r2 + 1):
            res.append(r1)
            r1 += 1
        return res

# r1, r2 = -1, 2
# print(makeLst(r1, r2))

In [5]:
print(makeLst(r1=1, r2=4))

[1, 2, 3, 4]

In [6]:
r1, r2 = 0, 22
a = makeLst(r1, r2)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [8]:
last3 = slice(-3, None)
print(last3)
a[last3]

slice(-3, None, None)

[3, 4, 5]

In [7]:
print(a)

[0, 1, 2, 3, 4, 5]